<div class="container-fluid">
  <h3 class="text-dark mb-1">ANALYSE DETAILS</h3>
</div>
<h1 class="fs-4 fw-bold">TESTS DETALS</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th><strong>Value</strong></th>
      <th>Status</th>
      <th>Min value</th>
      <th>Max value</th>
      <th>unit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 2</td>
      <td>Cell 2</td>
      <td>Cell 2</td>
      <td>Cell 2</td>
    </tr>
    <tr>
      <td>Cell 3</td>
      <td>Cell 2</td>
      <td>Cell 4</td>
      <td>Cell 4</td>
      <td>Cell 4</td>
      <td>Cell 4</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container text-break border-0">
  <div class="row">
    <div class="col-md-12">
      <h1></h1>
      <h1 class="text-primary"><strong><em>Proprieties</em></strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-secondary-emphasis">Patient</h1>
      <ul>
        <li>Name :</li>
        <li>Tele&nbsp; &nbsp; :</li>
        <li>Email&nbsp; :</li>
        <li>Adress :</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group"></ul>
      <h1 class="text-secondary-emphasis">Echantillon</h1>
      <ul>
        <li>Date&nbsp; :</li>
        <li>Type analyse :</li>
        <li>Status :</li>
        <li>N°&nbsp; :</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h1 class="text-secondary-emphasis">Responsable</h1>
      <ul>
        <li>Name&nbsp; :</li>
        <li>tele&nbsp; &nbsp; &nbsp; :</li>
        <li>Email&nbsp; &nbsp;:</li>
        <li><strong><span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">Position</span></strong>:</li>
      </ul>
    </div>
  </div>
</div>
<h1>Reactif</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Nom fournisseur</th>
      <th>Date d'experation</th>
      <th>Quontity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td>Cell 3</td>
      <td>Cell 4</td>
    </tr>
    <tr>
      <td>Cell 3</td>
      <td>Cell 4</td>
      <td>Cell 3</td>
      <td>Cell 4</td>
    </tr>
    </tbody>
  </table>
</div>

