<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid">
      <h3 class="text-dark mb-4">ANALYSES</h3>
      <div class="card shadow">
        <div class="card-header py-3">
          <button routerLink="/addAnalyse" class="btn btn-primary mb-3" style="float: right">Ajouter Nouveau Analyse</button>
          <p class="text-primary m-0 fw-bold">Analyses Info</p>
        </div>
        <div class="card-body">
          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="">
              <thead>
              <tr>
                <th>Name</th>
                <th>Date start</th>
                <th>Date end</th>
                <th>Commentaire</th>
                <th>Show detail</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let analyse of analyses">
                <td>{{ analyse.nomAnalyse }}</td>
                <td>{{ analyse.dateDebut }}</td>
                <td>{{ analyse.dateFin }}</td>
                <td>{{ analyse.commantaire }}</td>
                <td>
                  <a class="btn btn-primary" [routerLink]="['/analyseDetail', analyse.idAnalyse]">Détails</a>
                </td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-primary" type="button">Action</button>
                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" type="button"></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="deleteAnalyse(analyse.idAnalyse)" href="#">Supprimer</a>
                      <a class="dropdown-item" [routerLink]="['/updateAnalyse', analyse.idAnalyse]" >Modifier</a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr></tr>
              </tfoot>
            </table>
          </div>
          <div class="row">
            <div class="col-md-6 align-self-center">
              <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
            </div>
            <div class="col-md-6">
              <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                  <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
