<div class="container">
  <h2>Mise à jour de l'analyse</h2>
  <div>
    <label>Nom de l'analyse:</label>
    <input [(ngModel)]="analyse.nomAnalyse" placeholder="Nom de l'analyse"/>
  </div>
  <div>
    <label>Date de début:</label>
    <input type="date" [(ngModel)]="analyse.dateDebut"/>
  </div>
  <div>
    <label>Date de fin:</label>
    <input type="date" [(ngModel)]="analyse.dateFin"/>
  </div>
  <div>
    <label>Commentaire:</label>
    <textarea [(ngModel)]="analyse.commantaire" placeholder="Commentaire"></textarea>
  </div>
  <!-- Ajoutez d'autres champs pour la mise à jour selon vos besoins -->
  <button (click)="updateAnalyse()">Mettre à jour</button>
</div>
