
  <section class="getintouch">
      <div class="container modern-form">
        <div class="text-center">
          <h4 style="color: #212529;font-size: 45px;">Ajouter fournisseur</h4>
        </div>
        <hr class="modern-form__hr" />
        <div class="modern-form__form-container">
          <form #addForm="ngForm" (ngSubmit)="addFournisseur(addForm)">
            <div class="row">
              <div class="col col-contact">
                <div class="modern-form__form-group--padding-r form-group mb-3"><input class="form-control input input-tr" ngModel type="text" placeholder=" Nom" name="nom" />
                  <div class="line-box">
                    <div class="line"></div>
                  </div>
                </div>
              </div>
              <div class="col col-contact">
                <div class="modern-form__form-group--padding-l form-group mb-3"><input class="form-control input input-tr" ngModel type="text" placeholder="Adresse" name="adresse" />
                  <div class="line-box">
                    <div class="line"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-contact">
                <div class="modern-form__form-group--padding-r form-group mb-3"><input class="form-control input input-tr" ngModel type="text" placeholder="Tele" name="tele" />
                  <div class="line-box">
                    <div class="line"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-center"><button class="btn btn-primary submit-now" [disabled]="addForm.invalid" type="submit">Ajouter</button></div>
            </div>
          </form>
        </div>
      </div>
    </section>
